<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form action="/articles/update" method="post">
    <h1>Edit Article</h1>
    <div>Id:</div>
    <input name = "id" value = "{{article.id}}" readonly>  <!--disabled: id data doesn't get passed to dto-->
    <br><br>
    <div>Title:</div>
    <input type = "text" name = "title" value= "{{article.title}}">
    <br><br>
    <div>Content:</div>
    <textarea name = "content">{{article.content}}</textarea>
    <br><br>
    <button type="submit">Submit</button>
    <br><br>
</form>
</body>
</html>