<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form action="/articles/create" method="post">
    <h1>Create New Article</h1>
    <div>Title:</div>
    <input type = "text" name = "title" value={{article.title}}>
    <br><br>
    <div>Content:</div>
    <textarea name = "content">{{article.content}}</textarea>
    <br><br>
    <button type="submit">Submit</button>
    <br><br>
</form>
</body>
</html>