<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Article Details</h1>
<table border="2">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
    </tr>

    {{#article}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
</table>
<br><br>
<a href=/articles/{{article.id}}/edit>Edit Article</a>
<br>
<a href=/articles/new>Write New Article</a>
</body>
</html>


